
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --negro: #191516;
    --gris: #444444;
    --azul: #005377;
    --rosa: #DA0037;
    --blanco: #c9daea;
    --fb: #3b5998;
    --tw: #55acee;
    --google: #ea4335;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    padding: 2rem 0;
    background: linear-gradient(
      #000000b6,#000000b6
      ),url('https://images.pexels.com/photos/267355/pexels-photo-267355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center/cover ;
    
    
}

h1{
  font-size: 3rem;
  text-align: center;
  color: var(--blanco);
  letter-spacing: 3px;
}

.form-container{
  width: 90%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(3px);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 10px #0002;
}

.login__container{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4,max-content);
  grid-row-gap:  1rem;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  color: var(--blanco);
}

.login__inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .4rem;
}

.login__inputs label {
  font-size: 1.2rem;
  
}

.login__container .input{
  width: 100%;
  padding: .6rem 0;
  border: none;
  border-radius: 5px;

}

.login__container .input:focus{
  outline: 2px solid var(--google);
}

.login__container h2{
  font-size: 2.3rem;
  color: var(--blanco);
}

.login__container p {
  color: var(--google);
}

.btn{
  width: 100%;
  padding: .8rem 0;
  margin-top: 20px;
  border: none;
  color: var(--blanco);
  background-color: var(--negro);
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 3px;

}

.options{
  display: flex;
  justify-content: space-between;
  margin-top: .8rem;
}

.login__social{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 5px 0;
}


.login__social i {
  font-size: 2rem;
}


.login__social i:nth-child(1){
  color: var(--tw);
}
.login__social i:nth-child(2){
  background: linear-gradient(180deg,
    #405DE6,
    #5851DB,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D,
    #F56040,
    #F77737,
    #FCAF45,
    #FFDC80
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login__social i:nth-child(3){
  color: var(--fb);
}


.login__password a:visited{
  color: rgb(111, 111, 111);
}

/* MEDIAS  */

@media (min-width:760px){

  .form-container{
    width: 70%;
  }
  

}

@media (min-width:920px){
  
  

  .form-container{
    width: 50%;
  }
  

}