
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --negro: #191516;
    --gris: #444444;
    --azul: #005377;
    --rosa: #DA0037;
    --blanco: #c9daea;
    --fb: #3b5998;
    --tw: #55acee;
    --google: #ea4335;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 1rem 0;
    gap: 2rem;
    background: linear-gradient(
      #000000b6,#000000b6
      ),url('https://images.pexels.com/photos/267355/pexels-photo-267355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center/cover ; 
    
}

h1{
  font-size: 2.5rem;
  width: 90%;
  text-align: center;
  color: var(--blanco);
  letter-spacing: 3px;
}



.login__container{
  display:grid;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4,max-content);
  grid-row-gap:  1rem;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  color: var(--blanco);
  width: 90%;
}

.login__inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .4rem;
}

.login__inputs label {
  font-size: 1.2rem;
  
}

.login__container .input{
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 5px;

}

.login__container .input:focus{
  outline: 2px solid var(--google);
}

.login__container h2{
  font-size: 2.3rem;
  color: var(--blanco);
}


.btn{
  width: 60%;
  padding: 10px 0;
  margin-top: 20px;
  border: none;
  color: var(--blanco);
  background-color: var(--negro);
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  -webkit-box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.67);
-moz-box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.67);
box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.67);

}



.options{
  display: flex;
  justify-content: space-between;
  margin-top: .8rem;
}

.login__social{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 5px 0;
}


.login__social .fa-brands{
  font-size: 2rem;
  color: var(--blanco);
}



.login__password a:visited{
  color: rgb(108, 26, 26);
}

/* MEDIAS  */


/* TABLET  */

@media (min-width: 760px){
  
  .login__container{
    width: 600px;
  }

  .login__container h2{
    font-size: 2.5rem;
    letter-spacing: 4px;
  }

  .btn{
    cursor: pointer;
    font-size: 1.7rem;
    letter-spacing: 5px;
  }


  .btn:hover{
    background-color: #1d1a1b;
  }

  
  .login__social .fa-brands {
  cursor: pointer;
  position: relative;
  }



}
  

/* PC  */
@media (min-width: 920px){


  
  

  }